body {
    background-color: #BDC3C7; /* couleur d'arrière-plan souhaitée */
}

header {
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    background-color: #BDC3C7;
}

/* en tete avec logo et menu */
.head {
    background-color: black;
}

.section-padding {
    padding-bottom: 3rem;
  }

.reseaux {
    margin-bottom: 40px;
}

.youtube {
    background-image: url(/public/images/youtube.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
}


.instagram {
    background-image: url(/public/images/insta.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
}


.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: transform 0.2s ease-in-out;
}


.video-container .titre {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.video {
    width: 80%;
    height: 80%;
    top: 50%; 
    left: 50%;
}
  
.text{
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
}

.pres-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}

.pres-titre {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.pres-text {
    margin-top: 20px;
    text-align: center;
    color: white;
}
  
.ressources-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw;
  }

.ressources-video {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 2px;
    padding-bottom: 20px; 
    overflow: hidden; /* masque tout contenu débordant de l'élément parent */
}

.ressources-photo {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 280px;
    margin: auto;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 2px;
    padding-bottom: 20px; 
    overflow: hidden; /* masque tout contenu débordant de l'élément parent */
}

.ressources-photo img {
    max-width: 450px;
  }


